# AMD Services Configuration
# One service name per line
AMD Crash Defender Service
AMD External Events Utility
amdfendr
amdfendrmgr
AMDXE
ATI External Events Utility
Ati HotKey Poller
ATI Smart
ati2mtag
AMD FUEL Service
amdkmdag
amdkmdap
atikmdag
atikmpag
amdkmafd
amdwddmg
AtiHDAudioService
AODDriver
AODService
amdacpksd
amdacpusrsvc
atierecord
atipmdag
R300
AdaptiveSleepService
AUEPLauncher
amdsafd
amduw23g
