# NVIDIA Services Configuration
# One service name per line
nvsvc
NVHDA
nvpciflt
nvwmi
Stereo Service
nvkflt
nvlddmkm
nv
NVDisplay.ContainerLocalSystem
nvpcf
NvContainer
NvContainerLocalSystem
NvContainerNetworkService
NvTelemetryContainer
GfExperienceService
